* {
    margin: 0px;
    padding: 0px;
}

p {
    color: brown;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#p2 {
    color: blueviolet;
    font-weight: 600;
}

h3.p1 {
    text-align: center;
}
body {
    background: url(images/1.jpg) no-repeat fixed;
    background-size: 100%;
}